.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.shop-name {
  color: #242424;
  font-size: 38px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.active {
  color: red;
}

.nav {
  margin-left: 10px;
  .nav-element {
    padding: 5px;
    height: 40px;
    font-size: 18px;
    line-height: 30px;

    a, a:visited {
      text-decoration: none;
      color: #242424;
    }
    &:hover {
      background-color: #242424;

      a, a:visited {
        color: #FFFFFF;
      }
    }


  }
}
